# --- DADOS DE ACESSO PORTAL BJ ---
# Digite seu CPF (apenas números) e sua senha do Portal BJ aqui. O bot vai usar esses dados para fazer login e acessar todas ad informações necessárias.
# Precisa ser um usuário com acesso de Diretor do Núcleo/Federação..
CPF=000.000.000-00
PASSWORD=sua_senha_aqui

# --- CONFIGURAÇÕES DO BOT ---
# ID do seu Núcleo/Federação (veja na URL do Portal)
INSTANCE_ID=23 # Exemplo23 para Núcleo Campinas, 5 para FEJESP
YEAR=2026 # Ano dos contratos que o bot vai olhar. Normalmente é o ano atual, mas pode ser os anteriores, caso precise.
ONLY_APPROVED=true

# --- GOOGLE SHEETS ---
# O ID fica na URL da planilha: docs.google.com/spreadsheets/d/ESSE_CODIGO_AQUI/edit
SPREADSHEET_ID=seu_id_da_planilha_aqui